<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../ev-flipnumber/ev-flipnumber.html">
<link rel="import" href="../ev-button-group/ev-button-group.html">
<link rel="import" href="../ev-icon-button/ev-icon-button.html">
<link rel="import" href="../ev-button/ev-button.html">
<link rel="import" href="../ev-input-field/ev-input-field.html">
<link rel="import" href="../ev-popover/ev-popover.html">
<link rel="import" href="../ev-styles/typography.html">
<link rel="import" href="../ev-icons/ev-shadow-icons.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../ev-msg/ev-msg.html">


<dom-module id="ev-budget-group">
  <template>
    <style>
      :host {
        display: block;
        background-color: var(--ev-category-background-color, #F7F5F2);
      }

      :host([group=DESIRABLES]) {
        background: var(--ev-icon-fill, white);
      }

      .category {
        box-sizing: border-box;
        text-align: center;
      }

      .heading {
        display: inline-block;
        font-size: 24px;
        margin-top: 63px;
        margin-bottom: 40px;
      }

      .heading > div {
        float: left;
      }

      .heading + .row {
        margin-top: 50px;
      }

      .row {
        display: flex;
        flex: 1 0 auto;
        flex-direction: row;
        flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        width: 100%;
      }

      .checkbox {
        position: relative;
        width: 17px;
        height: 17px;
        margin-left: 22px;
      }

      .checkbox-background-container {
        position: absolute;
        top: 0;
        bottom: 0;
        background: var(--ev-checkbox-background-color, #515151);
        width: 100%;
        height: 100%;
        border-radius: 3px;
      }

      .checkbox iron-icon {
        position: absolute;
        background: var(--ev-checkbox-background-color, #515151);
        left: 2px;
        top: 2px;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        border-top: 3px solid var(--ev-header-background-color, #646464);
        border-left: 3px solid var(--ev-header-background-color, #646464);
        box-sizing: border-box;
      }

      ev-button-group {
        display: flex;
        -webkit-display: flex;
        flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        margin: 7px 0px 0px 0px;
        width: 100%;
      }

      ev-button {
        min-width: 140px;
        max-width: 140px;
        height: 56px;
        border-radius: 3px;
        text-align: center;
        font-size: 16px;
        border-radius: 3px;
        box-sizing: border-box;
        background-color: rgba(103, 103, 103, 0.07);
        padding: 0;
      }

      ev-button-group > ev-button + ev-button {
        margin-left: 7px;
      }

      ev-button, ev-input-field {
        box-sizing: border-box;
      }

      ev-input-field {
        width: 100%;
        height: 56px;
        --ev-input-container-height: 50px;
        padding: 0;
      }

      .header {
        background-color: var(--ev-header-background-color, #646464);
        font-weight: bold;
        @apply --ev-font-common-base;
        color: var(--ev-header-text-color, var(--ev-icon-fill));
        font-size: 14px;
      }

      .header-msg-min {
        display: none;
      }

      :host([group=ESSENTIALS])  ev-icon-button {
        background: var(--ev-budget-planner-essentials-color);
      }

      :host([group=DESIRABLES])  ev-icon-button {
        background: var(--ev-budget-planner-desirables-color);
      }

      :host([group=LUXURIES]) ev-icon-button {
        background: var(--ev-budget-planner-luxuries-color);
      }

      .category-icon {
        position: relative;
      }

      .category-icon, .blank {
        width: 250px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 3px;
      }

      .category-icon > ev-icon-button {
        top: calc(50% - 24px)
      }

      ev-button[active] > ev-input-field {
        --ev-input-container-focused-color: transparent;
        --ev-input-focused-line-color: var(--ev-icon-fill);
        --ev-input-caret-color: var(--ev-icon-fill);
        --ev-input-text-color: var(--ev-icon-fill);
        --ev-input-prefix-suffix-color: var(--ev-icon-fill);
      }

      .category-icon {
        @apply --ev-font-common-base;
        font-size: 16px;
        display: flex;
      }

      .category-icon .icon-label {
        margin-left: 12px;
        font-weight: bold;
      }

      .monthlyTotal {
        padding-top: 50px;
        padding-bottom: 65px;
      }

      .custom-number {
        height: 48px;
        --ev-input-container-height: 38px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 6px;
        margin-bottom: 5px;
      }

      ev-popover {
        width: 400px;
      }

      :host([group=ESSENTIALS]) ev-button.header[active] .checkbox-background-container,
      :host([group=ESSENTIALS]) ev-button.header[active] iron-icon{
        background: var(--ev-budget-planner-essentials-color);
      }

      :host([group=DESIRABLES]) ev-button[active] .checkbox-background-container,
      :host([group=DESIRABLES]) ev-button[active] iron-icon{
        background: var(--ev-budget-planner-desirables-color);
      }

      :host([group=LUXURIES]) ev-button[active] .checkbox-background-container,
      :host([group=LUXURIES]) ev-button[active] iron-icon{
        background: var(--ev-budget-planner-luxuries-color);
      }

      :host([group=ESSENTIALS]) .category-icon, :host([group=ESSENTIALS]) ev-button.cost {
        color: var(--ev-budget-planner-essentials-color);
      }

      :host([group=DESIRABLES]) .category-icon, :host([group=DESIRABLES]) ev-button.cost {
        color: var(--ev-budget-planner-desirables-color);
      }

      :host([group=LUXURIES]) .category-icon, :host([group=LUXURIES]) ev-button.cost {
        color: var(--ev-budget-planner-luxuries-color);
      }

      :host([group=ESSENTIALS]) ev-button.cost[active] {
        background-color: var(--ev-budget-planner-essentials-color);
        color: var(--ev-essentials-active-text-color, var(--ev-icon-fill));
      }

      :host([group=DESIRABLES]) ev-button.cost[active] {
        background-color: var(--ev-budget-planner-desirables-color);
        color: var(--ev-desirables-active-text-color, var(--ev-icon-fill));
      }

      :host([group=LUXURIES]) ev-button.cost[active] {
        background-color: var(--ev-budget-planner-luxuries-color);
        color: var(--ev-luxuries-active-text-color, var(--ev-icon-fill));
      }

      :host([group=ESSENTIALS]) .monthlyTotal ev-flipnumber {
        color: var(--ev-budget-planner-essentials-color);
      }

      :host([group=DESIRABLES]) .monthlyTotal ev-flipnumber {
        color: var(--ev-budget-planner-desirables-color);
      }

      :host([group=LUXURIES]) .monthlyTotal ev-flipnumber {
        color: var(--ev-budget-planner-luxuries-color);
      }

      ev-flipnumber {
        font-size: var(--ev-flipnumber-font-size, 28px);
      }

      ev-button-group > ev-button {
        flex: 1;
        -ms-flex: 1;
      }

      .monthlyTotal {
        text-align: center;
        font-size: var(--ev-monthly-total-font-size, 16px);
        @apply --ev-font-common-base;
        font-weight: bold;
      }

      @media only screen and (max-width: 900px) {
        .category-icon, .blank {
          width: 200px;
        }
        .icon-label {
          text-align: left;
        }
      }

      @media only screen and (max-width: 825px) {
        ev-button {
          min-width: 120px;
          max-width: 120px;
        }

        .header-msg {
          display: none;
        }

        .header-msg-min {
          display: block;
          position: relative;
          top: -12px;
        }

        .checkbox {
          position: absolute;
          top: 27px;
          margin-left: 0px;
        }
      }

      @media only screen and (max-width: 745px) {
        .icon-label {
          display: none;
        }

        .checkbox {
          position: absolute;
          top: 37px;
        }

        ev-button-group, .category-icon {
          margin-top: 7px;
          width: 70vw;
        }

        ev-button-group > ev-button + ev-button {
         margin-left: 7px;
        }

        ev-button {
          width: 90px;
          height: 71px;
          flex-shrink: 0;
        }

        .category-icon, .blank {
          width: 71px;
          height: 71px;
          flex-shrink: 0;
        }
      }

      @media only screen and (max-width: 615px) {
        ev-button {
          min-width: auto;
          max-width: auto;
        }
        .table {
          margin-left: 10%;
          margin-right: 10%;
        }
      }

      @media only screen and (max-width: 500px) {
        .table {
          margin-left: 0%;
        }
        .heading {
          margin-left: 10px;
          margin-right: 10px;
        }
      }

      @media only screen and (max-width: 615px) {
        @-moz-document url-prefix() {
          ev-button {
            width: 71px;
            min-width: auto;
            max-width: auto;
          }
        }
      }

      /* IE 11 */
      @media only screen and (max-width: 825px) {
        _:-ms-input-placeholder, .checkbox {
            left: 50px;
        }
      }

      @media only screen and (max-width: 825px) {
        _:-ms-input-placeholder, .header-msg {
            margin-left: 2px;
        }
      }

      @media only screen and (max-width: 745px) {
        _:-ms-input-placeholder, .checkbox {
            left: 25px;
        }
      }

      @media only screen and (max-width: 615px) {
        _:-ms-input-placeholder, ev-button {
            min-width: 70px;
        }
      }

      /* Edge */
      @supports (-ms-ime-align:auto) {
        @media only screen and (max-width: 615px) {
          ev-button {
            min-width: 70px;
            max-width: 70px;
          }
        }
      }

      [hidden] {
        display: none!important;
      }
    </style>

    <template is="dom-if" if="{{budgets}}" id="template_container">
      <ev-msg msgkey="currency_symbol" msg="{{currencySymbol}}" hidden>£</ev-msg>
      <div class="category" hidden="[[!budgets]]">
        <div class="heading">
          <b>[[_sentenceCase(group)]]</b>
          <template is="dom-if" if="[[_isGroup('ESSENTIALS')]]">
            <ev-msg msgkey="ev-budget-planner__essentials-description">- the things you will actually need to live</ev-msg>
          </template>
          <template is="dom-if" if="[[_isGroup('DESIRABLES')]]">
            <ev-msg msgkey="ev-budget-planner__desirables-description">- the little things you enjoy</ev-msg>
          </template>
          <template is="dom-if" if="[[_isGroup('LUXURIES')]]">
            <ev-msg msgkey="ev-budget-planner__luxuries-description">- the things that make it worthwhile</ev-msg>
          </template>
        </div>
        <div class="table">
          <div class="row">
            <div class="blank"></div>
            <ev-button-group selected-attribute="active">
              <ev-button class="header" data-column="0" on-click="selectColumn" toggles id="[[_computeHeaderButtonId(group, 'low')]]">
                <div class="header-msg">
                  <ev-msg msgkey="ev-budget-planner__cost-header-low">LOW SPEND</ev-msg>
                </div>
                <div class="header-msg-min">[[currencySymbol]]</div>
                <div class="checkbox">
                  <div class="checkbox-background-container"></div>
                  <iron-icon icon="ev-shadow-icons:ev-tick"></iron-icon>
                </div>
              </ev-button>
              <ev-button class="header" data-column="1" on-click="selectColumn" toggles id="[[_computeHeaderButtonId(group, 'average')]]">
                <div class="header-msg">
                  <ev-msg msgkey="ev-budget-planner__cost-header-average">AVERAGE</ev-msg>
                </div>
                <div class="header-msg-min">[[currencySymbol]][[currencySymbol]]</div>
                <div class="checkbox">
                  <div class="checkbox-background-container"></div>
                  <iron-icon icon="ev-shadow-icons:ev-tick"></iron-icon>
                </div>
              </ev-button>
              <ev-button class="header" data-column="2" on-click="selectColumn" toggles id="[[_computeHeaderButtonId(group, 'high')]]">
                <div class="header-msg">
                    <ev-msg msgkey="ev-budget-planner__cost-header-high">HIGH SPEND</ev-msg>
                </div>
                <div class="header-msg-min">[[currencySymbol]][[currencySymbol]][[currencySymbol]]</div>
                <div class="checkbox">
                  <div class="checkbox-background-container"></div>
                  <iron-icon icon="ev-shadow-icons:ev-tick"></iron-icon>
                </div>
              </ev-button>
              <ev-button class="header" data-column="3" on-click="selectColumn" toggles id="[[_computeHeaderButtonId(group, 'custom')]]">
                <div class="header-msg">
                  <ev-msg msgkey="ev-budget-planner__cost-header-custom">CUSTOM</ev-msg>
                </div>
                <div class="header-msg-min">
                  <ev-msg msgkey="ev-budget-planner__cost-header-custom-cost">?</ev-msg>
                </div>
                <div class="checkbox">
                  <div class="checkbox-background-container"></div>
                  <iron-icon icon="ev-shadow-icons:ev-tick"></iron-icon>
                </div>
              </ev-button>
            </ev-button-group>
          </div>
          <template is="dom-repeat" items="[[budgets]]" id="template_group">
            <div class="row">
              <div class="category-icon">
                <ev-icon-button id="[[_computeIconId(item.id)]]" icon$="[[_computeIcon(item)]]" class="round" on-click="_togglePopover"></ev-icon-button>
                <ev-popover dark id=[[_computePopoverId(item.id)]] for="[[_computeIconId(item.id)]]" position="right">[[item.furtherInfo]]</ev-popover>
                <p class="icon-label">
                  [[item.name]]
                </p>
              </div>
              <ev-button-group selected-attribute="active">
              <ev-button id="[[_computeButtonId(group, item.id, 'low')]]" on-click="_handleBudgetItem" data-value$="[[item.low]]" class="cost" toggles>[[currencySymbol]][[_computeMonthlyAmount(item.low)]]</ev-button>
              <ev-button id="[[_computeButtonId(group, item.id, 'average')]]" on-click="_handleBudgetItem" data-value$="[[item.average]]" class="cost" toggles>[[currencySymbol]][[_computeMonthlyAmount(item.average)]]</ev-button>
              <ev-button id="[[_computeButtonId(group, item.id, 'high')]]" on-click="_handleBudgetItem" data-value$="[[item.high]]" class="cost" toggles>[[currencySymbol]][[_computeMonthlyAmount(item.high)]]</ev-button>
              <ev-button class="cost" toggles on-click="_handleBudgetItem" id="[[_computeButtonId(group, item.id, 'custom')]]">
                <ev-input-field class="custom-number" id="[[_computeInputId(group, item.id)]]" tabindex="0" on-value-changed="calculateTotal" type="number" min="0" max="833333.33" step="0.01" auto-validate="true">
                  <div slot="prefix">[[currencySymbol]]</div>
                </ev-input-field>
              </ev-button>
            </ev-button-group>
            </div>
          </template>
        </div>
      </div>
      <div class="monthlyTotal">
        <ev-msg msgkey="ev-budget-planner__group-total" placeholders$='["[[group]]"]'>TOTAL MONTHLY [[group]]</ev-msg>
        <b>
          &nbsp;&nbsp;&nbsp;<ev-flipnumber id="[[_computeflipTextId()]]" value="[[_total]]" prefx="[[currencySymbol]]"></ev-flipnumber>
        </b>
      </div>
    </template>
  </template>
  <script>
/**
`ev-budget-group`

@customElement
@polymer
*/
    class EvBudgetGroup extends Polymer.Element {
      static get is() { return 'ev-budget-group'; }
      static get properties() {
        return {
          /** The name of the budget group */
          group: String,
          /** The list of budget items for the group */
          budgets: Array,
          /** The list of selected budget items for the group used in the API target call */
          selectedBudgets: {
            type: Array,
            notify: true,
            value: function () {
              return [];
            }
          }
        };
      }

      constructor() {
        super();
        this.__loading = false;
      }

      ready() {
        super.ready();
        const templateContainer = this.shadowRoot.querySelector('#template_container');

        document.body.addEventListener('click', (event) => {
          let popovers = this.shadowRoot.querySelectorAll('ev-popover');
          popovers.forEach((popover) => {
            if(popover._showing && popover != event.popoverTarget) {
              popover.hide();
            }
          });
        });

        if (templateContainer) {
          templateContainer.addEventListener('dom-change', () => {
            const templateGroup = this.shadowRoot.querySelector('#template_group');
            templateGroup.addEventListener('dom-change', () => {
              this.__loading = true;
              if (this.selectedBudgets && this.selectedBudgets.length > 0) {
                const buttonGroups = this.shadowRoot.querySelectorAll('ev-button-group');
                if (buttonGroups.length > 1) {
                  for (let i = 0; i < this.selectedBudgets.length; i++) {
                    const buttonGroup = buttonGroups[i + 1];
                    if(buttonGroup != undefined) {
                      const buttons = buttonGroup.querySelectorAll('ev-button');
                      let selected = false;
                      for (let j = 0; j < buttons.length; j++) {
                        if ((Number(buttons[j].dataset.value) === this.selectedBudgets[i].selectedCost) && !selected) {
                          buttonGroup.selected = j;
                          selected = true;
                        }
                      }

                      if (!selected) {
                        buttonGroup.selected = buttons.length - 1;
                        let btnInputField = buttons[buttons.length - 1].querySelector('ev-input-field');
                        let btnInput = btnInputField.shadowRoot.querySelector('#ev_input_field');
                        if (btnInputField != undefined) {
                          btnInputField.value = this._computeMonthlyAmount(this.selectedBudgets[i].selectedCost);
                          if (btnInput != undefined) {
                            btnInput.classList.add("input-is-focused"); //display amount
                          }
                        }
                      }
                    }
                  }
                }
              }

              this.__loading = false;
            });
          });
        }
      }

      _isGroup(name) {
        return name === this.group;
      }

      _computeHeaderButtonId(group, range) {
        return group.toLowerCase() + '_' + range + '_all';
      }

      _computeButtonId(group, id, range) {
        return group.toLowerCase() + '_' + range + '_btn' + id;
      }

      _computeInputId(group, id) {
        return 'inp_' + group.toLowerCase() + '_custom_' + id;
      }

      _computeHeaderId() {
        return group.toLowerCase() + '_header'
      }

      _computeflipTextId() {
        return this.group.toLowerCase() + '_monthly_total';
      }

      _computeIconId(id) {
        return this.group.toLowerCase() + '_' + id;
      }

      _computePopoverId(id) {
        return this.group.toLowerCase() + '_' + id + '_popover';
      }

      _togglePopover(event) {
        let targetPopover = event.currentTarget.nextElementSibling
        event.popoverTarget = targetPopover;
        targetPopover.toggle();
        this._trackEvent('togglePopover', 'Pop over toggled for ' + event.currentTarget.id);
      }

      /**
       * Checks if custom inputs in budget group are valid
       */
      _isValid() {
        let valid = true;
        this.shadowRoot.querySelectorAll('ev-button ev-input-field').forEach((field) => {
          if (field.parentElement.active && field.invalid) {
            valid = false;
          }
        });

        return valid;
      }

      /**
      * Checks if an least one button has been pressed
      */
      _atLeastOneButtonPressed() {
        const buttons = this.shadowRoot.querySelectorAll('ev-button');
        for (let i = 0; i < buttons.length; i++) {
          if (buttons[i].active) {
            return true;
          }
        }
        return false;
      }

      _computeIcon(item) {
        let iconName = 'ev-shadow-icons:';
        let budgetName = item.name;
        if (budgetName) {
          let newName = budgetName.replace(' & ', '-and-')
            .replace(' and ', '-and-')
            .replace(' ', '-').toLowerCase();
          iconName += newName;
        } else {
          iconName += 'other';
        }

        return iconName;
      }

      _computeMonthlyAmount(amount) {
        return Math.round(amount / 12);
      }

      _sentenceCase(group) {
        if (group !== null || group != undefined && typeof group === 'string' && group.length > 1) {
          let lowercase = group.toLowerCase();
          let captialiseFirstChar = group.charAt(0).toUpperCase();
          let substring = lowercase.substr(1);
          group = captialiseFirstChar + substring;

          return group;
        }
      }

      selectColumn(event) {
        const column = event.currentTarget.dataset.column;
        const buttonGroup = this.shadowRoot.querySelectorAll('ev-button-group');
        const target = event.currentTarget.active ? column : undefined;
        buttonGroup.forEach(element => {
          element.selected = target;
        });
        this.dispatchEvent(new Event('change', {bubbles: true, composed: true}));

        this._trackEvent('selectedColumn', 'Selected Column ' + event.currentTarget.id + (event.currentTarget.active ? ' activated' : ' deactivated'));
        this.calculateTotal();
      }

      _handleBudgetItem(event) {
        this._trackEvent('selectedBudgetItem', 'Selected budget item ' + event.currentTarget.id);
        this._deactivateHeader();
        this.calculateTotal();
      }

      _deactivateHeader() {
        let headers = this.shadowRoot.querySelectorAll('.header');
        headers.forEach((header) => {
          if (header.active) {
            header.active = false;
          }
        });
      }

      /**
      * Used to track events with Google Analytics
      */
      _trackEvent(eventType, eventLabel, eventValue) {
        let event = new Event('ev-track');
        event.detail = {
          'event_category': 'Budget Planner',
          'type': eventType,
          'event_type': eventType,
          'event_label': eventLabel
        };
        if (eventValue) {
          event.detail['value'] = eventValue;
        }
        window.dispatchEvent(event);
      }

      calculateTotal(event) {
        if (event) {
          let element = event.currentTarget;
          if (element.tagName === 'EV-INPUT-FIELD' && element.value === '') {
            element.parentElement.active = false;
          } else {
            element.parentElement.active = true;
          }
          this._trackEvent('customInput', 'Selected custom input ' + element.id + ' is ' + (element.parentElement.active ? 'active ' : 'inactive ') + 'with value ' + element.value);
        }

        const buttons = this.shadowRoot.querySelectorAll('.cost');
        let total = 0;
        for (let i = 0; i < buttons.length; i++) {
          if (buttons[i].active) {
            if (buttons[i].dataset.value) {
              total += Number(buttons[i].dataset.value);
            } else {
              total += (Number(buttons[i].querySelector('ev-input-field').value) * 12); // custom values don't have annual figures
            }
          }
        }

        this._total = Math.round(total / 12);

        if (!this.__loading) {
          this.createSelectedBudgets();
        }

        this._trackEvent('calculateTotal', 'Calculated total is now ' + this._total);
      }

      createSelectedBudgets() {
        let selectedBudgets = [];
        const buttonGroups = this.shadowRoot.querySelectorAll('ev-button-group');
        buttonGroups.forEach((buttonGroup, index) => {
          const selectedButton = buttonGroup.querySelector('ev-button[active]');
          if (selectedButton && !selectedButton.dataset.column) {
            const budget = {
              id: index + 1,
              group: this.group
            };

            if (selectedButton.dataset.value) {
              budget.selectedCost = Number(selectedButton.dataset.value)
            } else {
              budget.selectedCost = Number(selectedButton.querySelector('ev-input-field').value * 12); // custom values don't have annual figures
            }

            selectedBudgets.push(budget);
          }
        });

        this.selectedBudgets = selectedBudgets;
      }
    }

    window.customElements.define(EvBudgetGroup.is, EvBudgetGroup);
  </script>
</dom-module>
