<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../ev-styles/colour.html">


<dom-module id="ev-budget-bars">
  <template>
    <style>
      :host {
        display: block;
        height: 340px;
      }

      .bar {
        height: 0;
        transition: height 0.5s ease-out;
        width: var(--ev-planner-bar-width, 165px);
      }

      @media screen and (max-width: 420px) {
        .bar {
          width: 10vw;
        }
      }

      #essentials-bar {
        background-color: var(--ev-budget-planner-essentials-color);
      }

      #desirables-bar {
        background-color: var(--ev-budget-planner-desirables-color);
        margin: 2px 0;
      }

      #luxuries-bar {
        background-color: var(--ev-budget-planner-luxuries-color);
      }
    </style>

    <div id="luxuries-bar" class="bar"></div>
    <div id="desirables-bar" class="bar"></div>
    <div id="essentials-bar" class="bar"></div>
  </template>

  <script>
/**
`ev-budget-bars`
A simple, animated bar chart used in the results section of the budget planner.

Example:

    <ev-budget-bars results="[[apiResults]]"></ev-budget-bars>

The bars will morph to their new heights when the results object changes. The
bars share their colours with the Essentials/Desirables/Luxuries categories.

@customElement
@polymer
@demo demo/ev-budget-bars_demo.html
 */
    class EvBudgetBars extends Polymer.Element {
      static get is() { return 'ev-budget-bars'; }
      static get properties() {
        return {
          /** The results object returned by the budget planner API */
          results: Object
        };
      }

      static get observers() {
        return [
          '_resultsChanged(results.*)'
        ]
      }

      _resultsChanged(newResults) {
        const results = newResults.value;
        this._setBarHeight(results.netTarget, results.netEssentials, 'essentials-bar')
        this._setBarHeight(results.netTarget, results.netDesirables, 'desirables-bar')
        this. _setBarHeight(results.netTarget, results.netLuxuries, 'luxuries-bar')
      }

      /**
       * Sets the height of the bars in the chart based on the API results
       *
       * @param {number} total The total to calculate the percentage from
       * @param {number} number The number to calculate the percentage of the total
       * @param {id} id The id of the bar to set the height of
       */
      _setBarHeight(total, number, id) {
        const perc = (number / total);
        const height = perc * (this.getBoundingClientRect().height || 340);
        this.$[id].style.height = height + 'px';
      }
    }

    window.customElements.define(EvBudgetBars.is, EvBudgetBars);
  </script>
</dom-module>
