<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../ev-styles/colour.html">
<link rel="import" href="../ev-styles/typography.html">
<link rel="import" href="../ev-msg/ev-msg.html">
<link rel="import" href="../ev-flipnumber/ev-flipnumber.html">
<link rel="import" href="ev-budget-bars.html">


<dom-module id="ev-budget-summary">
  <template>
    <style>
      :host {
        display: block;
        background-color: var(--ev-icon-fill, white);
      }

      .total-annual-income-header {
        margin-top: 100px;
      }

      .results-intro {
        text-align: center;
      }

      .results-totals {
        display: flex;
        justify-content: center;
        font-weight: 200;
        font-size: 60px;
        color: #B4B4B4;
        margin-bottom: 50px;
        align-items: baseline;
      }

      .results-totals small {
        font-weight: 400;
        font-size: 22px;
      }

      .results-totals-gross {
        color: #505050;
      }

      .results-totals-net {
        color: #B4B4B4;
      }

      .chart-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      ev-budget-bars {
        margin-left: 25px;
        margin-right: 25px;
      }

      .results-container .result h3 {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .results-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .result-values {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 700;
        font-size: 28px;
      }

      .result-monthly-values {
        display: flex;
        flex-direction: column;
        font-weight: 400;
        font-size: 20px;
        margin-left: 10px;
        margin-right: 25px;
      }

      .border {
        width: 1px;
        border-left: 1px solid;
      }

      .gross-net-border {
        width: 1px;
        border-left: 2px solid;
        min-height: 46px;
        margin-left: 20px;
        margin-right: 20px;
      }

      #net_luxuries, #net_desirables, #net_essentials {
        min-width: 120px;
        margin-right: 10px;
        --ev-flipnumber: {
          font-size: 28px;
        }
      }

      #monthly_net_luxuries, #monthly_net_desirables,
      #monthly_net_essentials {
        --ev-flipnumber: {
          font-size: 20px;
        }
      }

      .essentials {
        border-color: var(--ev-budget-planner-essentials-color);
        color: var(--ev-budget-planner-essentials-color);
      }

      .desirables {
        border-color: var(--ev-budget-planner-desirables-color);
        color: var(--ev-budget-planner-desirables-color);
      }

      .luxuries {
        border-color: var(--ev-budget-planner-luxuries-color);
        color: var(--ev-budget-planner-luxuries-color);
      }

      .breakdown-heading {
        margin-bottom: 42px;
      }

      @media only screen and (max-width: 625px) {
        .results-intro, .results-totals {
          display: flex;
          flex-direction: column;
        }
        .results-totals {
          margin: 0 auto 34px auto;
        }
        .gross-net-border {
          display: none;
        }
        .bar {
          width: 50%;
        }
      }

      @media (max-width: 480px) {
        .chart-container {
          justify-content: space-between;
        }

        .results-container {
          width: 75%;
        }
      }

      /* IE11 */
      @media only screen and (max-width: 625px) {
        _:-ms-input-placeholder, .results-totals {
          display: block;
        }
      }

      @media only screen and (max-width: 625px) {
        _:-ms-input-placeholder, .gross, .net {
          text-align: left;
          margin: 0 auto;
          width: 350px;
        }
      }

      .results-totals ev-flipnumber {
        --ev-flipnumber: {
          font-size: 60px;
        }
      }

    </style>

    <ev-msg msgkey="currency-symbol" msg="{{currencySymbol}}" hidden>£</ev-msg>

    <div class="results-intro">
      <h1 class="total-annual-income-header">
        <ev-msg msgkey="ev-budget-planner__summary-heading">Total annual income needed</ev-msg>
      </h1>
      <div class="results-totals">
        <div class="gross">
          <ev-flipnumber id="total_gross" prefx="[[currencySymbol]]" value="[[results.grossTarget]]" class="results-totals-gross"></ev-flipnumber>
          <small class="results-totals-gross">
            <ev-msg msgkey="ev-budget-planner__summary-label-gross">gross</ev-msg>
          </small>
        </div>
        <div class="gross-net-border results-totals-net"></div>
        <div class="net">
          <ev-flipnumber id="total_net" prefx="[[currencySymbol]]" value="[[results.netTarget]]" class="results-totals-net"></ev-flipnumber>
          <small class="results-totals-net">
            <ev-msg msgkey="ev-budget-planner__summary-label-net">net</ev-msg>
          </small>
        </div>
      </div>
      <h2 class="breakdown-heading">
        <ev-msg msgkey="ev-budget-planner__summary-intro">Here's a breakdown of your expenses.</ev-msg>
      </h2>
    </div>

    <div class="chart-container">
      <ev-budget-bars results="[[results]]"></ev-budget-bars>
      <div class="results-container">
        <div class="result">
          <h3>
            <ev-msg msgkey="ev-budget-planner__summary-heading-luxuries">Luxuries</ev-msg>
          </h3>
          <div class="result-values">
            <ev-flipnumber id="net_luxuries" prefx="[[currencySymbol]]" value="[[results.netLuxuries]]" class="luxuries"></ev-flipnumber>
            <div class="border luxuries"></div>
            <div class="result-monthly-values">
              <ev-flipnumber id="monthly_net_luxuries" prefx="[[currencySymbol]]" value="[[monthlyNetLuxuries]]" class="luxuries"></ev-flipnumber>
              <span class="luxuries">
                <ev-msg msgkey="ev-budget-planner__summary-frequency">each month</ev-msg>
              </span>
            </div>
          </div>
        </div>
        <div class="result">
          <h3>
            <ev-msg msgkey="ev-budget-planner__summary-heading-desirables">Desirables</ev-msg>
          </h3>
          <div class="result-values">
            <ev-flipnumber id="net_desirables" prefx="[[currencySymbol]]" value="[[results.netDesirables]]" class="desirables"></ev-flipnumber>
            <div class="border desirables"></div>
            <div class="result-monthly-values">
              <ev-flipnumber id="monthly_net_desirables" prefx="[[currencySymbol]]" value="[[monthlyNetDesirables]]" class="desirables"></ev-flipnumber>
              <span class="desirables">
                <ev-msg msgkey="ev-budget-planner__summary-frequency">each month</ev-msg>
              </span>
            </div>
          </div>
        </div>
        <div class="result">
          <h3>
            <ev-msg msgkey="ev-budget-planner__summary-heading-essentials">Essentials</ev-msg>
          </h3>
          <div class="result-values">
            <ev-flipnumber id="net_essentials" prefx="[[currencySymbol]]" value="[[results.netEssentials]]" class="essentials"></ev-flipnumber>
            <div class="border essentials"></div>
            <div class="result-monthly-values">
              <ev-flipnumber id="monthly_net_essentials" prefx="[[currencySymbol]]" value="[[monthlyNetEssentials]]" class="essentials"></ev-flipnumber>
              <span class="essentials">
                <ev-msg msgkey="ev-budget-planner__summary-frequency">each month</ev-msg>
              </span>
            </div>
          </div>
        </div>
      </div>
   </div>
  </template>

  <script>
/**
`ev-budget-summary`


@customElement
@polymer
@demo demo/ev-budget-summary_demo.html
 */
    class EvBudgetSummary extends Polymer.Element {
      static get is() { return 'ev-budget-summary'; }
      static get properties() {
        return {
          results: Object
        };
      }

      static get observers() {
        return [
          '_resultsChanged(results.*)'
        ]
      }

      _resultsChanged(newResults) {
        const results = newResults.value;
        this.monthlyNetLuxuries = results.netLuxuries / 12;
        this.monthlyNetDesirables = results.netDesirables / 12;
        this.monthlyNetEssentials = results.netEssentials / 12;
      }
    }

    window.customElements.define(EvBudgetSummary.is, EvBudgetSummary);
  </script>
</dom-module>
