<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../ev-ajax/ev-ajax.html">
<link rel="import" href="../ev-button/ev-button.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../ev-icons/ev-icons.html">
<link rel="import" href="../ev-msg/ev-msg.html">
<link rel="import" href="ev-budget-group.html">
<link rel="import" href="ev-budget-summary.html">
<link rel="import" href="../ev-styles/typography.html">
<link rel="import" href="../ev-analytics/ev-analytics.html">

<dom-module id="ev-budget-planner">
  <template>
    <style>
      :host {
        display: block;
        @apply --ev-font-common-base;
        --ev-budget-planner-essentials-color: var(--ev-spearmint-500);
        --ev-budget-planner-desirables-color: var(--ev-mango-400);
        --ev-budget-planner-luxuries-color: var(--ev-tomato-400);
        display: none;
        background-color: var(--ev-icon-fill, white);
      }

      #header-wrapper {
        background-color: var(--ev-icon-fill, white);
      }

      #header-wrapper .header {
        max-width: 784px;
        margin: 0 auto;
        padding-top: 47px;
        padding-bottom: 60px;
      }

      .header h1 {
        font-size: 28px;
        margin-bottom: 50px;
        text-align: center;
      }

      .header .paragraph_normal {
        font-size: 22px;
      }

      .header .paragraph_smaller {
        font-size: 16px;
      }

      #essentials-wrapper, #luxuries-wrapper {
        background-color: var(--ev-category-background-color, #F7F5F2);
      }

      #desirables-wrapper {
        background-color: var(--ev-icon-fill, white);
      }

      #essentials, #desirables, #luxuries {
        max-width: 866px;
        margin: 0 auto;
      }

      .primary-btn-color {
        background-color: var(--ev-grape-500);
        color: var(--ev-icon-fill);
        border-radius: 3px;
      }

      #but_calculate {
        width: 270px;
        height: 37px;
        font-weight: normal !important;
        font-size: 18px;
        flex-shrink: 0;
        display: none;
        margin: 0 auto;
        margin-top: 79px;
      }

      .error-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 69px;
      }

      .error-container .error-icon {
        position: relative;
        width: 70px;
        flex-shrink: 0;
        border-right: 2px solid lightgray;
      }

      .error-container iron-icon {
        position: absolute;
        width: 70px;
        height: 70px;
        top: calc(50% - 35px);
        left: -55px;
        color: var(--ev-grape-500);
        margin-left: 40px;
        margin-right: 40px;
      }

      .error-container .primary-btn-color {
        width: 116px;
        height: 42px
      }

      .error-info {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
      }

      .error-info h2 {
        font-size: 22px;
        font-weight: bold;
        text-align: left;
      }

      .error-info span {
        width: 460px;
        height: 59px;
        font-size: 16px;
        text-align: left;
        margin-top: 15px;
      }
      #summary {
        padding-bottom: 200px;
      }

      @media only screen and (max-width: 900px) {
        #essentials, #desirables, #luxuries {
          margin-left: 15px;
        }
      }

      @media only screen and (max-width: 860px) {
        .header {
          max-width: 90%;
          width: 90%;
          margin-left: 10%;
          margin-right: 10%;
        }
      }

       @media only screen and (max-width: 615px) {
        .error-info span {
          width: 300px;
        }
      }

      [hidden] {
        display: none!important;
      }
    </style>

    <ev-analytics
      id="analytics"
      tracking-id="{{trackingId}}">
    </ev-analytics>

    <ev-ajax
      id="budgetParamsRequest"
      auto
      authentication-token="{{authenticationToken}}"
      method="GET"
      proxy="{{getProxyUrl}}"
      resource="budgetPlannerRetirement/1.0.0/budgetPlannerRetirement/getBudgetParams"
      on-success="_sortCategories"
      on-api-error="_handleError">
    </ev-ajax>

    <ev-ajax
      id="calculateRequest"
      authentication-token="{{authenticationToken}}"
      proxy="{{postProxyUrl}}"
      resource="budgetPlannerRetirement/1.0.0/budgetPlannerRetirement/calculateTarget"
      on-success="_handleResponse"
      on-api-error="_handleError">
    </ev-ajax>

    <div id="header-wrapper">
      <div class="header">
        <h1>
          <ev-msg msgkey="ev-budget-planner__intro-heading">How much will I need to live on in retirement?</ev-msg>
        </h1>
        <p class="paragraph_normal">
          <ev-msg msgkey="ev-budget-planner__intro">
            Retirement planning is all about working out how much to <strong>save now</strong>, so you can <strong>live how you want to later.</strong>
          </ev-msg>
        </p>
        <p class="paragraph_smaller">
          <ev-msg msgkey="ev-budget-planner__intro-aside">
            Let's start by taking a look at what you expect your monthly expenses to be in retirement. The sample living costs shown are sourced from the office of national statistics and based on the amount people currently spend in retirement.
          </ev-msg>
        </p>
      </div>
    </div>
    <div id="essentials-wrapper">
      <ev-budget-group id="essentials" group="ESSENTIALS" budgets="[[_essentials]]" selected-budgets="{{_selectedEssentials}}"></ev-budget-group>
    </div>
    <div id="desirables-wrapper">
      <ev-budget-group id="desirables" group="DESIRABLES" budgets="[[_desirables]]" selected-budgets="{{_selectedDesirables}}"></ev-budget-group>
    </div>
    <div id="luxuries-wrapper">
      <ev-budget-group id="luxuries" group="LUXURIES" budgets="[[_luxuries]]" selected-budgets="{{_selectedLuxuries}}"></ev-budget-group>
    </div>

    <ev-button tabindex="0" id="but_calculate" class="primary-btn-color" icon-pos="right" on-click="_makeRequest" disabled>
      <ev-msg msgkey="ev-budget-planner__calculate-button">Calculate total income</ev-msg>
      <iron-icon icon="ev-icons:calculator"></iron-icon>
    </ev-button>

    <div hidden="[[!initial]]">
      <div class="error-container" hidden="[[!error]]">
        <div class="error-icon">
          <iron-icon icon="ev-icons:exclamation"></iron-icon>
        </div>
        <div class="error-info">
          <h2 id="error-heading">
            <ev-msg msgkey="ev-budget-planner__error-heading">Something has gone wrong!</ev-msg>
          </h2>
          <span>
            <ev-msg msgkey="ev-budget-planner__error-message">Sorry that you've experienced this error. We're working on a solution right now. Please try again later.</ev-msg>
          </span>
        </div>
      </div>

      <ev-budget-summary id="summary" results="[[response]]" hidden="[[error]]"></ev-budget-summary>
    </div>
  </template>

  <script>
/**

The `ev-budget-planner` widget helps to define expenses in retirement. This widget utilizes BudgetPlannerRetirement API within EValue's API Portal. This widget consists of two parts (calls).
The first call is optional, returning the budget items and typical high/average/low net annual spend for each one.
The second call enters the value selected for each of the budget items, calculates the net annual amount needed to meet these, and from this the gross amount that would need to be withdrawn based on current income tax bands and rates.

Example:

    <ev-budget-planner></ev-budget-planner>

You must pass a valid authentication token from the API Portal.

Below are some use CSS Variables which you can override to further customise the styling of
the budget planner widget.

Custom property | Description | Default
----------------|-------------|----------
`--ev-category-background-color` | The background color of each category | `#F7F5F2`
`--ev-header-background-color` | The background color of the table headers for each category | `#646464`
`--ev-budget-planner-essentials-color` | The main color which acts as the theme for the essentials category | `--ev-spearmint-500`
`--ev-budget-planner-desirables-color` | The main color which acts as the theme for the desirables category | `--ev-mango-400`
`--ev-budget-planner-luxuries-color` | The main color which acts as the theme for the luxuries category | `--ev-tomato-400`
`--ev-monthly-total-font-size` | The font size of the monthly total of each category | `16px`

 View the demo page to interact with this widget.

@customElement
@polymer
@demo demo/index.html
@appliesMixin EvWidgetBehavior
 */
    class EvBudgetPlanner extends Polymer.Element {
      static get is() { return 'ev-budget-planner'; }
      static get properties() {
        return {
          /** The budgets selected by the user */
          selectedBudgets: {
            type: Object,
            notify: true,
            reflectToAttribute: true
          },
          /** The total budget */
          netTotal: {
            type: Number,
            readOnly: true,
            notify: true,
            reflectToAttribute: true,
            value: 0
          },
          /** The total budget */
          grossTotal: {
            type: Number,
            readOnly: true,
            notify: true,
            reflectToAttribute: true,
            value: 0
          },
          authenticationToken: {
            type: String,
            observer: '_tokenChanged'
          },
          proxy: String,
          postProxyUrl: {
            type: String,
            computed: '_computePostProxyUrl(proxy)'
          },
          getProxyUrl: {
            type: String,
            computed: '_computeGetProxyUrl(proxy)'
          },
          /** Google Analytics tracking id */
          trackingId: String
        };
      }

      constructor() {
        super();
        this.error = false;
      }

      ready() {
        super.ready();
        this.onchange = function() { this._handleChange() }.bind(this);
        this.oninput = function() { this._handleChange() }.bind(this);
      }

      connectedCallback() {
        super.connectedCallback();
        this.initial = false;

        if (this.selectedBudgets && this.selectedBudgets.budgets) {
          const essentials = [];
          const desirables = [];
          const luxuries = [];

          this.selectedBudgets.budgets.forEach(budget => {
            if (budget.group === 'ESSENTIALS') {
              essentials.push(budget);
            } else if (budget.group === 'DESIRABLES') {
              desirables.push(budget);
            } else if (budget.group === 'LUXURIES') {
              luxuries.push(budget);
            }
          });

          this._selectedEssentials = essentials;
          this._selectedDesirables = desirables;
          this._selectedLuxuries = luxuries;
          this._trackEvent('loadedBudgets', 'Selected budgets loaded');
        }
      }

      _tokenChanged(newToken, oldToken) {
        if (newToken !== oldToken) {
          this.$['budgetParamsRequest']._configureIronAjax();
          this.$['calculateRequest']._configureIronAjax();
        }
      }

      _computePostProxyUrl(proxy) {
        return proxy + '/calculateTarget';
      }

      _computeGetProxyUrl(proxy) {
        return proxy + '/getBudgetParams';
      }

      _sortCategories(event) {
        const response = event.detail.response;
        const essentials = [];
        const desirables = [];
        const luxuries = [];
        if (response && response.budgets) {
          response.budgets.forEach(budget => {
            if (budget.group === 'ESSENTIALS') {
              essentials.push(budget);
            } else if (budget.group === 'DESIRABLES') {
              desirables.push(budget);
            } else if (budget.group === 'LUXURIES') {
              luxuries.push(budget);
            }
          });

          this._essentials = essentials;
          this._desirables = desirables;
          this._luxuries = luxuries;
        }

        this.style.display = 'block';
        this.$['but_calculate'].style.display = 'flex';
      }

       /**
       * Creates the API request body.
       */
       _constructPostBody() {
        const evAjax = this.$.calculateRequest;
        evAjax.request = {
          budgets: []
        };

        evAjax.request.budgets = this._selectedEssentials.concat(this._selectedDesirables, this._selectedLuxuries);

        if (this.configReference) {
          evAjax.request.configReference = this.configReference;
        }
      }

      _makeRequest() {
        if (this._isValidRequest()) {
          this._constructPostBody();
          this.$.calculateRequest.generateRequest();
        } else {
          this._handleError();
        }
      }

      _isValidRequest() {
        let valid = true;
        let hasBudget = false;
        this.shadowRoot.querySelectorAll('ev-budget-group').forEach((group) => {
          if (!group._isValid()) {
            valid = false;
          }
          if (group._atLeastOneButtonPressed()) {
            hasBudget = true;
          }
        });
        return valid && hasBudget;
      }

      _handleChange() {
        this.$['but_calculate'].disabled = !this._isValidRequest();
      }

      _handleResponse(event) {
        this.initial = true;
        this.error = false;
        this.response = event.detail.response;
        this._setGrossTotal(this.response.grossTarget);
        this._setNetTotal(this.response.netTarget);
        setTimeout(() => { // wait for summary section to display then scroll
          this.shadowRoot.querySelector('ev-budget-summary').scrollIntoView({behavior: 'smooth'});
          this._trackEvent('calculateSuccess', 'Total income calculated successfully');
        }, 500);
      }

      _handleError(event) {
        this.error = true;
        this.initial = true;
        this.style.display = 'block';
        if (event.currentTarget.id != 'calculateRequest') {
          this.$['header-wrapper'].style.display = 'none';
          this._trackEvent('budgetParamsError', 'Error in getting budget parameters request');
        } else {
          this._trackEvent('calculateTargetError', 'Error making total income calculate request');
        }
      }

      /**
      * Used to track events with Google Analytics
      */
      _trackEvent(eventType, eventLabel, eventValue) {
        let eventInfo = {
          'event_category': 'Budget Planner',
          'event_label': eventLabel
        };
        if (eventValue) {
          eventInfo['value'] = eventValue;
        }
        this.$['analytics'].gtag('event', eventType, eventInfo);
      }
    }

    window.customElements.define(EvBudgetPlanner.is, EvBudgetPlanner);
  </script>
</dom-module>
